venv 
__pycache__/
**/__pycache__/
Recommendation/glove.6B.100d.txt
Recommendation/wiki-news-300d-1M-subword.vec
*.bin
*.bin.gz
models/cc.en.300.bin
staticfiles/
/embed_opportunities.py
/my_local_sbert
my_local_sbert.zip
.env
firebase_credentials.json
