asgiref==3.8.1
dj-database-url==3.0.0
Django==5.2.3
django-cors-headers==4.7.0
django-decouple==2.1
packaging==25.0
sqlparse==0.5.3
typing_extensions==4.14.0
tzdata==2025.2
django-filter==25.1
djangorestframework==3.14.0
djangorestframework-simplejwt==5.3.1
PyJWT==2.10.1
pytz==2025.1
django-jazzmin
python-dotenv
Pillow
numpy
nltk
scikit-learn
gensim>=4.3.0
fasttext-wheel
spacy
sentence_transformers
tenacity


google-generativeai

gunicorn
psycopg2-binary

scipy==1.10.1
scipy==1.10.1 
